<header>
  <div class="container">
    <a routerLink="/" class="logo">Movie Collection</a>
    <nav>
      <ul>
<!--        <li><a href="#" routerLink="/">Home</a></li>-->
<!--        <li><a href="#" routerLink="/list">List</a></li>-->
        <li><a href="#" routerLink="/movies" style="background-color: #2582d4;">Movies</a></li>
<!--        <li><a href="#" routerLink="/">Movies</a></li>-->
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
